<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>Symfony2 API</title>
                    <link rel="stylesheet" type="text/css" href="stylesheet.css">
                            <link rel="shortcut icon" href="http://symfony.com/favicon.ico" />
                <link rel="search" type="application/opensearchdescription+xml" href="http://api.symfony.com/2.0//opensearch.xml" title="Symfony2 API (2.0)" />
            <link rel="search" type="application/opensearchdescription+xml" href="http://api.symfony.com/2.1//opensearch.xml" title="Symfony2 API (2.1)" />
            <link rel="search" type="application/opensearchdescription+xml" href="http://api.symfony.com/2.2//opensearch.xml" title="Symfony2 API (2.2)" />
            <link rel="search" type="application/opensearchdescription+xml" href="http://api.symfony.com/master//opensearch.xml" title="Symfony2 API (master)" />
                </head>
        <frameset cols="20%,80%" frameborder="1" border="1" bordercolor="#bbb" framespacing="1">
        <frame src="panel.html" name="index">
        <frame src="namespaces.html" name="main">
        <noframes>
            <body>
                Your browser does not support frames. Go to the <a href="namespaces.html">non-frame version</a>.
            </body>
        </noframes>
    </frameset>
</html>
